[user]
	name = sandyspiers
	email = sandy.spiers@gmail.com

[credential]
	helper = store

[init]
	defaultBranch = main

[core]
	editor = helix
	pager = delta

[alias]
	root = rev-parse --show-toplevel

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
	line-numbers = true

[merge]
    conflictStyle = zdiff3
