layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
                // plugin configuration...
                format_left                "{mode} #[fg=bright_black]󰇘 #[fg=green]{session} #[fg=bright_black]󰇘 {tabs} #[fg=bright_black]󰇘"
                format_right               "#[fg=green]{command_git_branch}#[fg=bright_black]󰇘 #[fg=blue]{datetime}"
                format_space               "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                border_enabled             "false"

                mode_normal                "#[fg=yellow]  "
                mode_locked                "#[fg=red]  "
                mode_tmux                  "#[fg=cyan]  "
                mode_resize                "#[fg=red] 󰩨 "
                mode_pane                  "#[fg=cyan]  "
                mode_tab                   "#[fg=cyan] 󰓩 "
                mode_scroll                "#[fg=green] 󰡏 "
                mode_enter_search          "#[fg=blue]  "
                mode_search                "#[fg=blue]  "
                mode_rename_tab            "#[fg=red] 󰑕 "
                mode_rename_pane           "#[fg=red] 󰑕 "
                mode_session               "#[fg=green]  "
                mode_move                  "#[fg=red]  "
                mode_prompt                "#[fg=green]  "

                // formatting for inactive tabs
                tab_normal                 "#[fg=bright_black]{name}"
                tab_normal_fullscreen      "#[fg=bright_black]{name}"
                tab_normal_sync            "#[fg=bright_black]{name}"

                // formatting for the current active tab
                tab_active                 "#[fg=cyan]{name}#[fg=yellow]"
                tab_active_fullscreen      "#[fg=yellow]{name}#[fg=yellow]{fullscreen_indicator}"
                tab_active_sync            "#[fg=green]{name}#[fg=yellow]{sync_indicator}"

                // separator between the tabs
                tab_separator              " "

                // format when renaming a tab
                tab_rename                 "#[fg=red] {index} {name} {floating_indicator} "

                // indicators
                tab_sync_indicator         "  "
                tab_fullscreen_indicator   "  "
                tab_floating_indicator     " 󰉧 "

                command_git_branch_command     "git branch --show-current"
                command_git_branch_format      "{stdout} #[fg=cyan] "
                command_git_branch_interval    "1"
                command_git_branch_rendermode  "static"

                // limit tab display count
                // tab_display_count          "3"  // limit to showing 3 tabs
                tab_truncate_start_format  "#[fg=red,bg=black] < + {count} ..."
                tab_truncate_end_format    "#[fg=red,bg=black] ... + {count} >"

                datetime                   "#[fg=blue]{format}"
                datetime_format            "%d %b %Y %H:%M"
                datetime_timezone          "Australia/Perth"
            }
        }
    }
    tab name="󰎦" focus=true borderless=true
    tab name="󰎩"
    tab name="󰎬"
    tab name="󰎮"
    tab name="󰎰"
    tab name="󰎵"
}
