[[language]]
name = "julia"
auto-format = true

[language-server.julia]
command = "julia"
args = [
  "--project=@LanguageServer",
  "--startup-file=no",
  "--history-file=no",
  "--quiet",
  "-e",
  "using LanguageServer; runserver()",
]
[language-server.julia.config]
julia.lint.missingrefs = "none"

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "markdown"] }

[[language]]
name = "latex"
language-servers = [ "texlab", "vale-ls" ]

[language-server.texlab.config.texlab.build]
onSave = true
forwardSearchAfter = true
executable = "latexmk"
pdfDirectory = "out"
args = [
  "-lualatex",
  "-outdir=out",
  "-interaction=nonstopmode",
  "-synctex=1",
  "-norc",
  "%f"
]

[language-server.texlab.config.texlab.forwardSearch]
executable = "zathura"
args = [ "--synctex-forward", "%l:%c:%f", "%p" ]

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true
