[user]
	name = sandyspiers
	email = sandy.spiers@gmail.com

[credential]
	helper = store

[init]
	defaultBranch = main

{{ if ne .chezmoi.os "windows" -}}
[core]
	editor = helix
	pager = delta
{{ end }}

[alias]
	root = rev-parse --show-toplevel

{{ if ne .chezmoi.os "windows" -}}
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    line-numbers = true
    syntax-theme = Dracula

{{ end -}}

[merge]
    conflictStyle = zdiff3
