---

- name: Setting up Arch dev environment
  hosts: all

  vars_files:
    - config.yml

  tasks:

    - name: System update and upgrade
      become: true
      community.general.pacman:
        update_cache: true
        upgrade: true

    - name: Install yay dependencies
      become: true
      community.general.pacman:
        name:
          - base-devel
          - git

    - name: Install yay
      kewlfft.aur.aur:
        name: yay
        use: makepkg

    - name: Install development environment
      become: true
      kewlfft.aur.aur:
        use: yay
        name: "{{ dev_env }}"

    - name: Install language tools
      become: true
      kewlfft.aur.aur:
        use: yay
        name: "{{ lang_tools }}"

    - name: Install Chezmoi
      become: true
      community.general.pacman:
        name: chezmoi

    - name: Init Chezmoi (https)
      command: chezmoi init sandyspiers

    - name: Apply Chezmoi
      command: chezmoi apply
