---

- name: Setting up Arch dev environment
  hosts: all

  vars_files:
    - config.yml

  tasks:

    - name: System update and upgrade
      become: true
      community.general.pacman:
        update_cache: true
        upgrade: true

    - name: Create the `aur_builder` user
      become: yes
      ansible.builtin.user:
        name: aur_builder
        create_home: yes
        group: wheel

    - name: Allow the `aur_builder` user to run `sudo pacman` without a password
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/aur_builder-allow-to-sudo-pacman
        state: present
        line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
        validate: 'visudo -cf %s'
        create: yes

    - name: Install yay dependencies
      become: true
      community.general.pacman:
        name:
          - git
          - base-devel
        extra_args: --needed

    - name: Install yay
      become: true
      become_user: aur_builder
      kewlfft.aur.aur:
        name: yay
        use: makepkg

    - name: Install development environment
      become: true
      become_user: aur_builder
      kewlfft.aur.aur:
        use: yay
        name: "{{ dev_env }}"

    - name: Install language tools
      become: true
      become_user: aur_builder
      kewlfft.aur.aur:
        use: yay
        name: "{{ lang_tools }}"

    - name: Install Chezmoi
      become: true
      community.general.pacman:
        name: chezmoi

    - name: Init Chezmoi (https)
      command: chezmoi init sandyspiers

    - name: Chezmoi update
      command: chezmoi update

    - name: Update/Install zellij plugings
      command: '~/.config/zellij/install_plugins.sh'
